#lill
{
    width: 100%;
    height: 60px;
    background-color: lightgoldenrodyellow;
}
#lill p{
    color: black;
    font-size: 30px;
    text-align: center;
}
#lil
{
    width: 100%;
    height: 60px;
    background-color: lightgoldenrodyellow;
}
#lil p{
    color: black;
    font-size: 30px;
    text-align: center;
}